@import "../assets/variables.scss";

.navbar {
    background-color: $primary-color;
    overflow: hidden;

    a{
      padding: 5px;
      color: $secondary-color;
      font-size: 24px;
      font-family: $main-font;
    }
  
    #logout-button{
      margin: 4px;
    }
  
    .navbar-brand img {
      height: 50px;
      width: 50px;
      float:left;
      margin: 5px;
      display: block;
    }
    .username-label {
      float: left;
      font-family: $main-font;
      font-size: 24px;
        display: block;
      margin-right: auto;
      color: $secondary-color;
      &:hover {
        color:$text-hover-color;
      }
    }
    .search-form{
      float: right;
      display: flex;
    }

    .nav-content{
      display: flex;
      align-items: center;
    }

    #login-button {
      float: right;
    }
  }