.navbar {
  background-color: #8564bf;
  overflow: hidden;
}
.navbar .navbar-brand img {
  height: 50px;
  width: 50px;
  float: left;
  margin: 5px;
  display: block;
}
.navbar .username-label {
  float: left;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
  display: block;
  margin-right: auto;
  color: #ffc107;
}
.navbar .username-label:hover {
  color: #000000;
}
.navbar .search-form {
  float: right;
  display: flex;
}

.adPage body {
  background-color: #dfe6e9;
}
.adPage .ad-container {
  margin-top: 50px;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  gap: 1rem;
}
.adPage .ad-list {
  background-color: #dfe6e9;
  padding: 3rem;
  display: flex;
  justify-content: center;
}
.adPage .ad-list .ad {
  background-color: white;
  grid-gap: 10px;
  display: flex;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px #b2bec3;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
}
.adPage .ad .title {
  font-size: 18px;
  font-weight: bold;
}
.adPage .ad .image img {
  width: 300px;
  height: 300px;
  padding: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.adPage .ad .text {
  text-align: left;
  font-size: 14px;
}
.adPage .ad .ad-location {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;
}
.adPage .ad .ad-location p {
  font-size: 15px;
  text-align: left;
  color: #8564bf;
}
.adPage .ad .ad-location img {
  height: 18px;
  width: 18px;
  float: left;
  margin: 5px;
  display: block;
}
.adPage .ad .ad-category {
  float: left;
  padding: 3px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2px;
  background-color: #8564bf;
  border-radius: 5px;
}
.adPage .det-button {
  background-color: #e8e4e4;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
  height: 30px;
}
.adPage .det-button:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  background-color: #ffc107;
  color: #eb4d4b;
}
.adPage .owner {
  flex: 70%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 4px;
  flex-direction: row;
  justify-content: space-around;
}
.adPage .owner .owner-info {
  display: block;
  align-items: center;
}
.adPage .owner .verticalLine {
  height: 300px; /* Length of your line */
  border-left: 2px solid transparent;
  filter: blur(1px); /* Amount of bluryness */
  animation: change-colors 5s infinite;
}
.adPage .info {
  display: flex;
  flex-direction: column;
}
.adPage .desc {
  padding: 3px;
}
.adPage .ad-main {
  display: flex;
  flex-direction: row;
}
@keyframes change-colors {
  0% {
    -o-border-image: linear-gradient(#8564bf, #ffc107, white) 10 stretch;
       border-image: linear-gradient(#8564bf, #ffc107, white) 10 stretch;
  }
  50% {
    -o-border-image: linear-gradient(#ffc107, #8564bf, white) 10 stretch;
       border-image: linear-gradient(#ffc107, #8564bf, white) 10 stretch;
  }
  100% {
    -o-border-image: linear-gradient(#8564bf, #ffc107, white) 10 stretch;
       border-image: linear-gradient(#8564bf, #ffc107, white) 10 stretch;
  }
}
@media (max-width: 850px) {
  .adPage .ad {
    flex-direction: column;
  }
  .adPage .ad .owner {
    flex-direction: column;
    align-content: flex-start;
  }
  .adPage .ad .owner .verticalLine {
    height: 0;
    border-bottom: 2px solid transparent;
    width: -webkit-fill-available;
    margin: auto;
  }
}
@media (max-width: 700px) {
  .adPage .ad-main {
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .adPage .ad .image img {
    width: 200px;
    height: 200px;
  }
}/*# sourceMappingURL=AdPage.css.map */